.contact {
  padding: 4rem 2rem;
  background: linear-gradient(45deg, #000000, #7e7e7e);
  background-size: 400% 400%;
  font-family: 'Bebas Neue', sans-serif;
  color: #b79f18;
  text-align: center;
  animation: gradient 10s ease infinite;
}

.contact h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #ffdd00;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: url("https://www.transparenttextures.com/patterns/debut-light.png"); /* Adding texture background */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.contact-form .input-container {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.contact-form .input-container svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffdd00;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem; /* Add padding-left for the icon */
  background-color: #0e1625;
  border: 1px solid #ffdd00;
  color: #ccd6f6;
  font-size: 1rem;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid #ffdd00;
  outline: none;
}

.contact-form .btn {
  padding: 0.75rem 1.5rem;
  background-color: #ffdd00;
  color: #0a192f;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.contact-form .btn:disabled {
  background-color: #7e7e7e;
  color: #fff;
}

.contact-form .btn:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-2px);
}

.contact-form .error {
  color: #ffffff;
  font-size: 0.9rem;
}

.social-links {
  margin-top: 2rem;
}

.social-links a {
  color: #b79f18;
  font-size: 2rem;
  margin: 0 1rem;
  transition: color 0.3s ease, transform 0.3s;
}

.social-links a:hover {
  color: #fff;
  transform: translateY(-5px);
}


